// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container{
   box-shadow: 8px 0 8px -4px rgba(139, 139, 139, 0.7), -8px 0 8px -4px rgba(139, 139, 139, 0.7);
   background-color: #f5f5f5;
}

.article{
    background-color: #fff;
    &:hover{
    box-shadow: 4px 4px 4px #8b8b8bb3;
    }
}

ul{
    justify-content: center;
}

.chip{
    text-align: center;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    border: 1px solid #8b8b8bb3;
    margin-right: 12px;
    background-color: #8b8b8b28;
}

